<a href="https://colab.research.google.com/github/MLEngDeena/DataStructureAndAlgorithmUsingPython/blob/main/Some_Other_Basic_Important_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Some Other Basic Important Program

Product of Array

In [1]:
def productofarray(arr):
  if len(arr) == 0:
    return 1
  return arr[0] * productofarray(arr[1:])

print(productofarray([1,5,7,2]))
print(productofarray([6,2,5,0,67,8,3]))

70
0

Reverse the String

In [5]:
def reverse(strng):
  if len(strng) <=1 :
    return strng
  return strng[-1] + reverse(strng[0:-1]) #return strng[len(strng)-1] + reverse(strng[0:len(strng)-1]) , This will also work

print(reverse('python'))
print(reverse('Deena Nath'))

nohtyp
htaN aneeD

Pallindrome

In [6]:
def isPallin(strng):
  if len(strng) == 0:
    return True
  if strng[0] != strng[len(strng)-1]:
    return False
  return isPallin(strng[1:-1])

print(isPallin('awesome'))
print(isPallin('tacocat'))
print(isPallin('Tacocat'))

False
True
False

Flatten

In [7]:
def flatten(arr):
    resultArr = []
    for custItem in arr:
        if type(custItem) is list:
            resultArr.extend(flatten(custItem))
        else: 
            resultArr.append(custItem)
    return resultArr 



print(flatten([1, 2, 3, [4, 5]])) # [1, 2, 3, 4, 5]
print(flatten([1, [2, [3, 4], [[5]]]])) # [1, 2, 3, 4, 5]
print(flatten([[1], [2], [3]])) # [1, 2, 3]
print(flatten([[[[1], [[[2]]], [[[[[[[3]]]]]]]]]])) # [1, 2, 3]

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3]

Capitalize the First Letter

In [8]:
def capitalizeFirst(arr):
  result = []
  if len(arr) == 0:
    return result
  result.append(arr[0][0].upper() + arr[0][1:])
  return result + capitalizeFirst(arr[1:])

print(capitalizeFirst(['deena','aqsa','vaishnavi']))

['Deena', 'Aqsa', 'Vaishnavi']

Capitalize Words

In [9]:
def capitalizewords(arr):
  result = []
  if len(arr) == 0:
    return result
  result.append(arr[0].upper())
  return result + capitalizewords(arr[1:])

words = ['i' , 'am' , 'learning' , 'Recursion']
print(capitalizewords(words))

['I', 'AM', 'LEARNING', 'RECURSION']